.panel-content .custom-scrollbar .thumb-horizontal {
    background: #979797 !important;
    height: 6px !important;
}

.no-overlay-scrollbar ::-webkit-scrollbar-thumb:vertical {
    border-radius: 4px !important;
    background: #979797 !important;
}

.no-overlay-scrollbar ::-webkit-scrollbar {
    width: 7px !important;
}

.page-dashboard .main-view {
    background-color: #000 !important;
    /*background:url('/public/img/stars.jpg') no-repeat center center !important;*/
    background-size: cover !important;
}

.panel-container {
    background-color: #0C0F24 !important;
    border: 0px !important;
}

/*.panel-container:after{
  content:"?";
  display: table-cell;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 50%;
  font-weight: bold;
  color: #fff;
  top: 0;
  right: 0;
  position:absolute;
  z-index:9;
  border: 1.5px solid #fff !important;
  border-radius: 200px;
}*/
.panel-container--transparent {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid rgba(0, 0, 0, 0) !important;
}

/*.panel-container--transparent:after{
    content:"" !important;
	border: 0px !important;
}*/
div[role="table"] div[role="row"] {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0px !important;
    height: 35px !important;
}

div[role="table"] div[role="columnheader"] {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 6px 35px !important;
    height: 35px !important;
    font-weight: 500 !important;
}

div[role="table"] div[role="columnheader"]:first-child {
    padding-right: 0px !important;
}

div[role="table"] div[role="columnheader"]:last-child {
    padding-left: 0px !important;
}

div[role="table"] div[role="columnheader"]:first-child,
div[role="table"] div[role="columnheader"]:last-child {
    border: 0px;
}

div[role="table"] div[role="columnheader"]:after {
    content: "";
    width: 100% !important;
    height: 1px !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    position: absolute !important;
    z-index: 9 !important;
    border-bottom: 1px solid rgb(65, 65, 65) !important;
}

div[role="table"] div[role="columnheader"]:first-child:after {
    content: "";
    width: calc(100% - 18px) !important;
    height: 1px !important;
    left: 18px !important;
    bottom: 0 !important;
    position: absolute !important;
    z-index: 9 !important;
    border-bottom: 1px solid rgb(65, 65, 65) !important;
}

div[role="table"] div[role="columnheader"]:last-child:after {
    content: "";
    width: calc(100% - 18px) !important;
    height: 1px !important;
    right: 18px !important;
    bottom: 0 !important;
    position: absolute !important;
    z-index: 9 !important;
    border-bottom: 1px solid rgb(65, 65, 65) !important;
}

div[role="table"] div[role="cell"] {
    border: 0px !important;
    padding: 15px 35px !important;
}

div[role="table"] div[role="cell"]:first-child {
    padding-right: 0px !important;
}

div[role="table"] div[role="cell"]:last-child {
    padding-left: 0px !important;
}

div[role="table"] div[role="cell"]>div {
    padding: 4px 0px !important;
    border-radius: 200px;
}

.panel-info-corner--links .fa {
    left: 8px !important;
    top: 1px !important;
    color: white !important;
    font-size: 65% !important;
}

.panel-info-corner--links .panel-info-corner-inner {
    border: 0px !important;
}

.bar-gauge__value {
    color: inherit !important;
    font-size: 1em !important;
    padding-right: 0px !important;
    display: inline-table !important;
}

.bar-gauge__value~div {
    border-radius: 200px !important;
    height: 14px !important;
}

.piechart-panel__chart div {
    padding-bottom: 0px !important;
}

.singlestatmath-panel-value-container {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold !important;
    color: #D5D7DD;
    text-align: left !important;
    padding-left: 0px !important;
    display: flex !important;
    height: 100% !important;
    align-items: center;
}

.singlestatmath-panel-value-container>span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: table-cell !important;
    vertical-align: middle !important;
}

.singlestatmath-panel-postfix {
    min-width: 40%;
    /* height: 100%; */
}

.max-license-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50%;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    min-width: 40%;
}

.stat-text {
    padding: 0px !important;
    color: #D5D7DD !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

.cert-stat-table {
    height: 98%;
    border: 0px !important;
    padding: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #ECECEE;
}

tr:first-child .stat-text-cert {
    vertical-align: bottom;
    border: 0px;
    padding: 0px;
}

tr:last-child .stat-text-cert {
    vertical-align: top;
    border: 0px;
    padding: 0px;
}

.stealth-panel-header {
    width: 100% !important;
    text-align: center !important;
    font-weight: 500 !important;
    letter-spacing: 0.04em !important;
    line-height: 22px;
    font-variant: small-caps;
    font-size: 16px;
}

.stealth-panel-header-left {
    text-align: left !important;
}

.stealth-panel-header sup {
    top: -1em !important;
    font-size: 50% !important;
}

.status {
    border: 0px !important;
}

.status td {
    padding: 0px !important;
    border: 0px !important;
}

.status-icon.Stable {
    background: url(/public/stealth/stable-status.png) no-repeat center center !important;
}

.status-icon.Caution {
    background: url(/public/stealth/caution.png) no-repeat center center !important;
}

.status-icon.High.Risk {
    background: url(/public/stealth/high-risk.png) no-repeat center center !important;
}

.status-icon {
    width: 40px !important;
}

.status-text {
    font-size: 160% !important;
}

.status-text.Stable {
    color: #49D66F !important;
}

.status-text.Caution {
    color: #FEEC83 !important;
}

.status-text.High.Risk {
    color: #D51840 !important;
}

.status-footer {
    font-size: 80% !important;
}

.suspcious-unit-icon {
    height: 10px;
    display: grid;
}

/* xxxxxxxxxxxxx Style cosmetics to match with figma xxxxxxxxxxxxx*/
.panel-title-container {
    padding-top: 8px;
}

.panel-content.panel-content--no-padding>div>div>div>div>div>div>span {
    font-size: 40px;
    display: flex;
}

div[role="table"] div[role="cell"]:last-child>div {
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Column container styles */
.column-container {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 20px;
}

.column-container .column {
    flex: 1;
    padding: 10px;
}

.column-container .column p,
.column-container .column h2 {
    margin-bottom: 10px;
}

.txt-large {
    font-size: 40px;
    font-weight: 500;
}

.txt-yellow {
    color: #F5A623;
}

.txt-blue {
    color: #3CB4FF;
}

/* Media Query */
@media (min-width:1920px) {
    .stealth-panel-header {
        font-size: 19px;
    }

    .panel-title .panel-title-text,
    .panel-content>div[role="table"] {
        font-size: 16px;
    }
}